/* Main */
.tpl_downloads {
	margin-bottom:10px;
	border:5px solid #eae8e2;
}
.tpl_downloads .ring {
	padding:5px;
	border:1px solid #d6ccbc;
}
.tpl_downloads .sectitle {
	font: 24px/27px 'QuicksandBook', Arial, sans-serif;
}
.tpl_downloads .category .title {
	padding-left:20px;
	margin:4px 0;
}
.tpl_downloads .category .body {
	padding-left:40px;
	margin:4px 0;
}